.padding{
    padding: 100px 0px 0px 0px;

}

.container{
    display: flex;
    flex-direction: row;
    margin: 10px 20%;
}

.title{
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid grey;
    font-weight: bold;
    color: var(--background-movie-details-text);
    transition: background 500ms linear;
}

.poster{
    padding: 0px 10px 0px 0px;
}

.info{
    width: 100%;
}

.p{
    color: #999999;
    margin: 5px 0px 0px 0px;
    font-size: 16px;
}

.span{
    color: var(--background-movie-details-text);
    transition: background 500ms linear;
}

.secondBlock{
    margin: 0px 20%;
}

.block{
    display: flex;
    justify-content: center;
}

.homepage{
    color: #999999;
    margin: 30px 0px 0px 0px;
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid grey;
}

.videoBlock{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    width: 900px;
    height: 450px;

}