.poster{
    width: 100%;
}

.card{
    width: 19%;
    margin: 0px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: grey;
    text-align: center;
    background: var(--background-movie-card);
    transition: background 500ms linear;
}

.title{
    color: var(--background-movie-card-title);
    transition: background 500ms linear;
}

