.input{
    height: 40px;
    width: 350px;
    font-size: 18px;
    text-align: center;
    margin: 0px 5px 0px 0px;
    border-radius: 25px;
    border: 2px solid black;
    transition: 0.8s;
}

.input:hover{
    background: bisque;
    transition: 0.8s;
}

.form{
    display: flex;
    align-items: center;
}

.buttonSearch{
    height: 30px;
    width: 30px;
}

.formButton{
    height: 35px;
    width: 35px;
    border-radius: 10px;
    border: 2px solid black;
}