.header_block{
    display: flex;
    height: 100px;
    position: fixed;
    width: 100%;
    background: #053e4d;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

.logo_size{
    height: 75px;
    width: 75px;
}

.showGenres{
    height: 40px;
    width: 100px;
    border-radius: 75px;
    border: 2px solid black;
    transition: 0.8s;
    font-size: 14px;
}

.showGenres:hover{
    background: bisque;
    transition: 0.8s;
}

.homePage{
    color: white;
    text-decoration: underline;
    margin: 0px 0px 0px 20px;
}

